{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h3 class="mb-3 text-center">Criar conta</h3>

            <form method="POST">
                <input class="form-control mb-2" name="nome" placeholder="Nome" required>
                <input class="form-control mb-2" name="email" type="email" placeholder="Email" required>
                <input class="form-control mb-2" name="senha" type="password" placeholder="Senha" required>

                <select class="form-control mb-2" name="tipo">
                    <option value="contratante">Contratante</option>
                    <option value="profissional">Profissional</option>
                </select>

                <input class="form-control mb-2" name="profissao" placeholder="Profissão">
                <input class="form-control mb-2" name="valor" placeholder="Valor por serviço">
                <textarea class="form-control mb-3" name="descricao" placeholder="Descrição"></textarea>

                <button class="btn btn-primary w-100">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
