{% extends 'base.html' %}
{% block title %}Freelancers{% endblock %}

{% block content %}
<h2 class="mb-4">Profissionais disponíveis</h2>

<div class="row">
{% for u in usuarios %}
    {% if u.tipo == 'profissional' %}
    <div class="col-md-4 mb-3">
        <div class="card p-3 shadow-sm">
            <h5>{{ u.nome }}</h5>
            <p>{{ u.profissao }}</p>
            <strong>R$ {{ u.valor }}</strong>
            <p class="mt-2">{{ u.descricao }}</p>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
